PORT=3008

DB_HOST=localhost
DB_PORT=5432
DB_USER=hotelsync_app
DB_PASSWORD=hotelsync_app_pass
DB_NAME=fidelizacion_db

# RabbitMQ para eventos asincronos (consume booking.completed)
RABBITMQ_URL=amqp://hotelsync:hotelsync_pass@localhost:5672

URL_SERVICIO_RECEPCION=http://localhost:3003
URL_SERVICIO_RESERVAS=http://localhost:3002
