# Dependencias
node_modules/
package-lock.json
yarn.lock

# Entorno
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Docker / datos locales
data/
*.volume
