PORT=3006

DB_HOST=localhost
DB_PORT=3306
DB_USER=hotelsync_app
DB_PASSWORD=hotelsync_app_pass
DB_NAME=channel_manager_db

# Servicios con los que se comunica
URL_SERVICIO_RESERVAS=http://localhost:3002
URL_SERVICIO_DISPONIBILIDAD=http://localhost:3001
URL_SERVICIO_PROPIEDADES=http://localhost:3005
INTERVALO_POLLING_MS=4000
